.app-container {
  background: #ccc;
  border: 1px solid #000;
  border-radius: 3px;
  height: 300px;
  width: 300px;
  &__header {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
  }
  &__output {
    display: flex;
    justify-content: center;
    font-size: 150px;
  }
  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
}